body {
	background: #FFFFFF url('../../style/images/orange-bg-all.png') top center repeat-x;
	font-family: Helvetica Neu, Helvetica, Arial, sans-serif;
	font-size: 12px; 
	color: #424242;
}

.homebody {
	background: #FFFFFF url('../../style/images/orange-bg.png') top center repeat-x;
}

.hp-menu li.toplevel {
	padding: 2px;
	background: #df7300;
	border: 1px solid #ce6b00;
	margin: 0 5px 0 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.hp-menu li li {
	background:	#df7300;
	border-top: 1px solid #ce6b00;
	border-right: 1px solid #ce6b00;
	border-left: 1px solid #ce6b00;
}
.hp-menu li li li {
	background:	#df7300;
}